
#container{
  width: 100px;
  height: 100px;
  background-color: red;
  /* transition-delay: 3s; */
  /* transform: rotateX(45deg); */
  /* transform: rotateZ(45deg); */
  /* transform: rotate(45deg); */
  /* transform: translateX(400px); */
  /* transform: translateX(-400px); */
  /* transform: translateY(400px); */
  /* transform: translateY(-400px); */
  /* transform: scaleX(.5); */
  /* transform: scaleY(1.5); */
  /* transform: scale(2); */
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.79, 0.43, 0.31, 0.62);
}

#container:hover{
  border-radius: 50%;
  background-color: orange;
  transform: rotate(10turn);
  transform: translateX(800px);
}