
span{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  display: inline-block;
}

span:nth-of-type(2){
  display: block;
}

#relative{
  border: 2px solid black;
}

#relative>div{
  height: 100px;
  width: 100px;
  border: 2px solid red;
  display: inline-block;
}

#relative>div:nth-of-type(2){
  background-color: violet;
  position: relative;
  left: 100px;
  right: 100px;
  top: 30px;
  bottom: 20px;
}

#absolute{
  height: 70vh;
  width: 90%;
  border: 2px solid blueviolet;
  padding: 10px;
  position: relative;
}
#absolute>div{
  height: 70%;
  width: 90%;
  border: 2px solid red;
  position: relative;
}

#absolute>div>div{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: inline-block;
}

#absolute>div>div:nth-of-type(2){
  background-color: aqua;
  position: absolute;
  top: 0;
  right: 0;
}

#fixed{
  border: 2px solid black;
}

#fixed>div{
  height: 100px;
  width: 100px;
  border: 2px solid red;
  display: inline-block;
}

#fixed>div:nth-of-type(2){
  background-color: red;
  position: fixed;
  top: 0;
}