
.cl1{
  color: blue;
}

.cl2{
  background-color: bisque;
}

.cl3{
  text-decoration: overline;
}

.cl5{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}