h1{
  color: red;
}

@media (width<1080px){
  h1{
    border: 2px solid red;
  }
}

@media (width<720px){
  h1{
    background-color: black;
  }
}

@media (width<480px){
  h1{
    font-size: 48px;
  }
}