button{
  width: 200px;
  height: 200px;
  background-color: red;
  transition-duration: 2s;
  /* transition-delay: 2s; */
  transition-timing-function: cubic-bezier(0.69, 0.2, 0.02, 1.17);
}

button:hover{
  /* border-radius: 50%; */
  /* background-color: orange; */
  transform: rotateZ(1turn);
  transform: translateX(800px);
  /* transform: translateY(-400px); */
  /* transform: scale(1.05); */
}

