#container{
  background-color: aquamarine;
  height: 200px;
  width: 200px;
  /* width: 50%; */
  /* border-width: 2px;
  border-style: solid;
  border-color: red; */
  /* shorthand property */
  border: 2px solid red;
  /* px for rectangles, % for square*/
  /* border-radius: 50%; */
  overflow: hidden;
  /* margin-left: 100px;*/
  padding-top: 100px; 
  margin: 100px 20px 0 100px;
}

