/* Universal Selector */
/* *{
  border:2px solid peru;
} */

/* tag Selector */
article{
  color: blueviolet;
}

/* Id Selector */
#article4{
  color: green;
}
/* class Selector */
.same{
  background-color: black;
}

/* Attribue selector */
/* input[type="text"]{
  background-color: blue;
} */

input[name="userName"]{
  background-color: green;
}