*{
  padding: 0;
  margin: 0;
}

#container{
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  margin: 20px auto;
}

.card{
  max-width: 100%;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
}
.card>img{
  width: 100%;
  border-radius: 10px;
}
/* 
@media(width<1080px){
  #container{
    grid-template-columns: repeat(3,1fr);
  }
}

@media(width<720px){
  #container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(width<480px){
  #container{
    grid-template-columns: 1fr;
  }
} */

