
h1{
  width: 100px;
  background-color: aqua;
  transition-duration: 2s;
  /* transition-timing-function: cubic-bezier(0.08, 0.82, 0.47, 0.07); */
  transition-timing-function: ease-in;
}

h1:hover{
  transform: translateX(600px);
}

#card-box{
  width: 90vw;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5,1fr);
}

#card{
  height: fit-content;
  border: 2px rgb(174, 173, 173) solid;
  border-radius: 15px;
  padding: 5px;
  transition-duration: 400ms;
}

#card:hover{
  scale: 1.03;
  rotate: 1deg;
  transform: translateY(-200px);
}

#card>img{
  height: 200px;
  border-radius: 15px;
}

#card span{
  text-decoration: line-through;
  padding-right: 5px;
  color: gray;
}

@media (width<500px)  {
  h1{
    font-size: 44px;
    color:blue;
  }
}

@media (width<1080px){
  #card-box{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (width<480px){
  #card-box{
    grid-template-columns: 1fr;
  }
}

