.cl-1{
  color: red;
}

.cl-2{
  background-color: skyblue;
}

.cl-3{
  text-decoration: underline;
}

.cl-4{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}