*{
  border: 2px dashed black;
}
/* tag Selector */
h1{
  color: green;
}

p{
  color: red;
}

p{
  color: green;
}
/* id Selector */
#para{
  color: blue;
}
/* class Selctor */

.group1{
  color: blueviolet;
}