body{
  background-color: black;
}
h1{
  height: 200px;
  /* width: 600px; */
  /* width: 50%; */
  width: 70vw;
  /* height: 80vh; */
  background-color: aquamarine;
  /* border-style: solid;
  border-color: white;
  border-width: 5px; */
  border: 7px solid white;
  border-radius: 20px;
  border-right: 0;
  border-top: 0;
  margin-left: 100px;
  padding-top: 100px;
}

div{
  width: 400px;
  background-color: red;
}
